native/grafana-*.linux-amd64.tar.gz
native/grafana/
native/logs/
native/loki-linux-amd64
native/loki-linux-amd64.zip
native/loki/
native/otel/
native/otelcol-contrib
native/otelcol-contrib_*_linux_amd64.tar.gz
native/observ_native.tar.gz
docker/docker.tar.gz
